.servise {
margin-top: 135px;

}

.servise__content {


}
.servise__desc {


}
.servise__list {
margin-top: 54px;
display: flex;
justify-content: space-between;
}
.servise__item {


}
.servise__title {


}
.servise__main-text {
    max-width: 507px;
}
.servise__text{

}





